FROM php:8.2-apache

COPY . /var/www/html/

RUN a2enmod rewrite && \
    chown -R www-data:www-data /var/www/html && \
    sed -i 's/AllowOverride None/AllowOverride All/g' /etc/apache2/apache2.conf

EXPOSE 80